@background: #0775e3
@itembackground: #0a84f0
@itemalternativebackground: #3d9aef
@itemdarkbackground: #0566c9
@darkgradient: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1a88f0, stop: 0.1 #0f7ee8, stop: 0.5 #0775e3, stop: 0.9 #0669cc, stop: 1 #0566c9)
@darkalternativegradient: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3d9aef, stop: 1 #0775e3);
@gradient: QLinearGradient(x1:0, y1:0, x2:1, y2:1, stop:0 #3d9aef, stop:1 #0775e3)
@textlight: #ffffff
@text: #f3f8ff
@toggleoff: #0566c9
@toggleon: #ffffff
@selection: #055bb3
@hover: #1a88f0
@focusdark: rgba(255,255,255,90)
@focus: #cfe8ff
