Package: python-qgis-common
Source: qgis
Version: 4.0.2
Architecture: all
Maintainer: QGIS developers <qgis-developer@lists.osgeo.org>
Installed-Size: 3639
Depends: python3-qgis-common
Section: oldlibs
Priority: optional
Homepage: https://qgis.org/
Description: transitional package
 This is a transitional package. It can safely be removed.
